.Deteil_item {
  width: 100%;
  padding-left: 358px;
  img {
    width: 100%;
    height: 422px;
    object-fit: cover;
  }
  .deteil_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    .track {
      width: 80%;
      margin-top: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      .right {
        float: right;
        audio {
          display: none;
        }
        .play-button::before,
        .play-button.playing::before {
          content: "";
          margin-top: 15px;
          display: inline-block;
          border: 0;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border-color: transparent transparent transparent wheat;
          transition: 100ms all ease;
          cursor: pointer;
          border-style: solid;
          border-width: 10px 0 10px 20px;
        }
        .play-button.playing::before {
          border-style: double;
          border-width: 0px 0 0px 20px;
        }
      }
      .left {
        float: left;
        display: flex;
        align-items: center;
        color: wheat;
        img {
          width: 46px;
          margin: 4px;
          height: 46px;
        }
      }
    }
  }
}
