.Items_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 210px;
  grid-auto-columns: 210px;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .styled {
    position: relative;

    border-radius: 30px;
    &:hover {
      .hover {
        opacity: 1;
        visibility: visible;
        background: rgba(0, 0, 0, 0.7);
        transition: 0.3s;
      }
    }
    div.hover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      border-radius: 30px;
      color: white;
      font-size: 32px;
      text-align: center;
      padding-top: 50px;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: 30px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .other {
    margin: 10px;
  }
  .first {
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
