.leftBar {
  width: 358px;
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  img {
    width: 56px;
    height: 46px;
  }
  ul {
    li {
      margin-top: 25px;
      padding-left: 40px;
      display: flex;
      font-size: 24px;
      width: 100%;
      &:hover {
        border-bottom: 1px dotted white;
        cursor: pointer;
      }
      color: white;
      align-items: center;
      width: 100%;
      img {
        border-radius: 10px;
      }
      .text {
        margin-left: 10px;
      }
    }
  }
  padding-top: 140px;
}
