.main_wrapper {
  background: url("./Backplate.png");
  background-size: cover, cover, cover;
  background-position: left center, right center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding-bottom: 20px;
  padding-top: 100px;
  main#Items {
    min-height: 1080px;
    width: 100%;
    margin: 0 auto;
  }
}
