.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 210px;
  grid-auto-columns: 210px;
  text-align: center;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 4px solid red;
  text-align: center;
  div {
    border: 4px solid black;
    border-radius: 30px;
    &:hover {
      background: red;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  .other {
    margin: 10px;
  }
  .first {
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
