header {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  nav {
    margin-top: 20px;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: yellow;
    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        .active {
          color: red;
        }
        margin-top: 10px;
        a {
          color: wheat;
          font-size: 32px;
          text-decoration: none;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
